* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 20vh auto;
}

#container-month {
    max-width: 540px;
}

#days-hours{
    max-width: 540px;
}

#advance {
    background-color:#7240ff;
    user-select: none;
    transition: 0.2s ease all;
    max-width: 540px;
    border: none;
}

.selected{
    background-color: #5621ea !important;
    color: white !important;
}

.selectedButton{
    background-color: #82ea21 !important;
    color: black !important;
    font-weight: bold !important;
}

#advance:hover {
    background-color: #5621ea;
    border-radius: 7px;
}