* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



select {
    padding: 5px;
    width: 100%;
}

.btn-primary {
    background-color: #7240ff;
}

.btn-primary:hover {
    background-color: #5621ea;

}

.btn-primary:active{
    background-color: #5621ea !important;
    border-color: #5621ea !important;
    box-shadow: #7240ff !important;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


.h1 {
    font-weight: bolder;
    font-size: 40;
}

.btn-outline-primary {
    color: #7240ff;
    border-color: #7240ff;
}

.btn-outline-primary:hover {
    color: #402d76;
    border-color: #450ae7;
    background-color: white;
}


.btn-primary {
    background-color: #7240ff;
}

.btn-primary:hover {
    background-color: #5621ea;

}


.btn-primary {
    background-color: #7240ff;
}


.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


.h1 {
    font-weight: bolder;
    font-size: 40;
}

.container{
    align-items: center;
    justify-content: center;
    width: 100vh;
    align-content: center;
}

form > div, section{
    background-color: #402d76;
    margin: 40px ;
    align-self: center;
    justify-self: center;
    align-content: center;
    
}

#section-tipo-agendamento {
    border: 1px solid;
    border-radius: 10px ;
    max-width: 400px;
}

.row {
    justify-content: center;
}