* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    align-content: center;
}

#campoDeHorarios {
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 5px 5px;
}

input {
    user-select: none;
    cursor: pointer;
}

label {
    user-select: none;
    cursor: pointer;
    transition: 0.2s ease all;
}

input[type="radio"]:not(:checked) {
    appearance: none;
    background: #7240ff;
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    border-radius: 100%;
    transition: 0.3s ease all;
}
input[type="radio"]:checked {
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border: 3px solid yellowgreen;
    border-radius: 100%;
}

input:checked ~ label {
    color: #5621ea;
    font-weight: 700;
}

#userName {
    cursor: pointer;
}
.btnUser {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease all;
}

.btnUser:hover {
    font-weight: 600;
}