* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 35vh auto;
}

#avaliacao {
    display: block;
}

#stars {
    cursor: pointer;
}

input {
    display: none;
}

label {
    user-select: none;
    cursor: pointer;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #7240ff;
}

input:checked ~ label {
    color: rgb(228, 190, 24);
}

input#star-5:checked ~ label {
    color: rgb(207, 173, 22);
    text-shadow: 0px 0px 10px yellow;
}
input#star-4:checked ~ label {
    color: rgb(216, 180, 22);
    text-shadow: 0px 0px 8px yellow;
}
input#star-3:checked ~ label {
    color: rgb(230, 191, 20);
    text-shadow: 0px 0px 6px yellow;
}
input#star-2:checked ~ label {
    color: rgb(235, 195, 21);
    text-shadow: 0px 0px 4px yellow;
}
input#star-1:checked ~ label {
    color: rgb(245, 202, 13);
    text-shadow: 0px 0px 2px yellow;
}


#thanks {
    display: none;
    font-weight: bold;
}